spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: ENC(w43r+JK4IxkLaz67OZbo9/Sw9jvs0dLStb+GUsc+yZdWLeFiuMEvbAishy3kMxWHaqOnbpCVxNg/Yx9grYShknzUlNYOYJ/IUC8BzTPXUX2XkUXmdvXykvRP+VtD584xFLL+Vb4LrpY2xb/ja0gtnfhqG5w5YhudkA3+6b5eO1a3e6SBXSiALZEYAQHHLUk4VkH2+G1pPB1qfKqODtFxFA==)
    username: ENC(lVSrqCpmTW5Z7LsDVhoNIQ==)
    password: ENC(xGO3ZGAnd1V6vd8YK0vE621ooscZjt+EGrK+v183NKU=)
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    properties:
      hibernate:
        format_sql: false
        highlight_sql: false
    hibernate:
      ddl-auto: update
    show-sql: false
  data:
    redis:
      host: ENC(biGY1NB/OG+9fMjwd9xydQ==)
      port: 6379
      password: ENC(f/q6GpGysypGkQk/Mswp9J3L2U3SLMwp)

cloud:
  aws:
    credentials:
      access-key: ENC(vZ/NolroRR+tqNJoGqwNtr920TySD+JKw5C+b6fGoeY=)
      secret-key: ENC(yTqkdKxGuimUAOyoRJdsxTOW0tqT1+JBIm7LW/H/DFw9QTgHGueiHVkl0CyFcatK9WwO+lVC6yc=)
    s3:
      bucket: ENC(LBQ0Oiwmr4kfUXFudgnSPCzrVao1uhk9)
    region:
      static: ap-northeast-2

# 프론트엔드 URL (OAuth 콜백 리다이렉트용)
app:
  frontend-url: ENC(DyEg7sB4UndxN0L/z/Uv4Pn2Td0qXzWmat1WDcD8/iD6bmHL/tSO0w==)

# 로깅 설정
logging:
  level:
    root: INFO
    com.behcm: DEBUG