server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true
    context-path: /
  error:
    whitelabel:
      enabled: false

spring:
  profiles:
    active: dev
    include: secret
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 100MB
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MariaDBDialect
    generate-ddl: true
    properties:
      hibernate:
        default_batch_fetch_size: 500
    open-in-view: false
  mail:
    host: ENC(TirknCfj2ZkPj3nyJ9AjRn0fpKSiLCkK)
    port: 587
    username: ENC(eomNCOQJqgXyicrTgm/NW1cCsWBXxbMU/8Z0sD+NmME=)
    password: ENC(xceSdNFJ5/7DDvINycoaaGeKAaIdxf4xrrG2wFydiHA=)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jasypt:
  encryptor:
    algorithm: PBEWithMD5AndDES
    pool-size: 2
    string-output-type: base64
    key-obtention-iterations: 1000
    password: ${JASYPT_ENCRYPTOR_PASSWORD}

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  override-with-generic-response: false

fcm:
  key-path: hcm-firebase-account-key.json