server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true
    context-path: /
  error:
    whitelabel:
      enabled: false

spring:
  profiles:
    active: local
    include: secret
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 100MB
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MariaDBDialect
    generate-ddl: true
    properties:
      hibernate:
        default_batch_fetch_size: 500
    open-in-view: false
  mail:
    host: ENC(TirknCfj2ZkPj3nyJ9AjRn0fpKSiLCkK)
    port: 587
    username: ENC(eomNCOQJqgXyicrTgm/NW1cCsWBXxbMU/8Z0sD+NmME=)
    password: ENC(xceSdNFJ5/7DDvINycoaaGeKAaIdxf4xrrG2wFydiHA=)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ENC(1ZBXmsTDqAJRn6h3ukf32kSUaSYbVcpobK4AW1ARqNIF3cbkSXYolZjNNWUweU2iWCCaG+3BPNVv+qz3vFPrRvFoj9w33bVnUvvIKpleDb5+3LeozyvYqQ==)
            client-secret: ENC(sENN0dcoZCoOVfBUIbyCHCGZnt+gZwClz/YGxM8nf7ihfPgaTvuPEHWzIcs13Kul)
            scope: openid, profile, email
          kakao:
            provider: kakao
            client-id: ENC(VcM1gMky6ozzmCSpUcIepk9llykUfkmOuqc9y0+efe2sthkM/Ug1X7v6tyxtjzqp)
            client-secret: ENC(q68jlsACTlm9tgGTX5C6Q8s+NSJGJL66PxEKlyO53aBAxV99goo2YUNUsp7BdCYV)
            scope: profile_nickname, account_email
            client-name: Kakao
            authorization-grant-type: authorization_code
            client-authentication-method: client_secret_post
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

jasypt:
  encryptor:
    algorithm: PBEWithMD5AndDES
    pool-size: 2
    string-output-type: base64
    key-obtention-iterations: 1000
    password: ${JASYPT_ENCRYPTOR_PASSWORD}

fcm:
  key-path: ${FCM_KEY_PATH:/app/config/fcm-key.json}

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
  override-with-generic-response: false
