name: CI/CD
on:
  push:
    branches:
      - main
      - dev

env:
  DOCKER_COMPOSE_PATH: ${{ secrets.DOCKER_COMPOSE_PATH }}
  IMAGE_TAG: ${{ github.ref == 'refs/heads/main' && 'latest' || 'dev'}}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: 'Asia/Seoul'
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Gradle Caching
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant Execute Permission For Gradlew
        run: chmod +x ./gradlew

      - name: Clean And Test With Gradle
        run: ./gradlew clean build -x test --no-daemon

      - name: Docker build & Push to Docker Hub repo
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker build -t ${{ secrets.DOCKER_REPO }}/hcm:${{ env.IMAGE_TAG }} .
          docker push ${{ secrets.DOCKER_REPO }}/hcm:${{ env.IMAGE_TAG }}

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ github.ref == 'refs/heads/main' && secrets.EC2_HOST || secrets.DEV_EC2_HOST }}
          username: ${{ github.ref == 'refs/heads/main' && secrets.EC2_USERNAME || secrets.DEV_EC2_USERNAME }}
          key: ${{ github.ref == 'refs/heads/main' && secrets.EC2_SSH_KEY || secrets.DEV_EC2_SSH_KEY }}
          envs: IMAGE_TAG, DOCKER_COMPOSE_PATH
          script: |
#            sudo docker stop hcm:${{ env.IMAGE_TAG }} || true
#            sudo docker rm -f $(sudo docker ps --filter 'status=exited' -a -q) || true
            sudo docker pull ${{ secrets.DOCKER_REPO }}/hcm:${{ env.IMAGE_TAG }}
#            sudo docker rmi $(docker images -f "dangling=true" -q)
                    
            # 구동 중인 컨테이너 중 해당 이미지 태그를 사용하는 것만 교체
            # (기존 스크립트의 로직을 유지하면서 태그만 동적으로 처리)
            sudo docker-compose -f $DOCKER_COMPOSE_PATH up -d
            
            # 사용하지 않는 이미지 정리
            sudo docker image prune -f